# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objective:
* Different tools and categories of tools used by data scientist 
* common examples of each
* open source and cloud based 
* popular language for data science 
* commonly used libraries used by data scientist
* data science tools

Some of the popular language that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala

In [ ]:
Some of the commonly used libraries used by Data Scientist include :
1. Pandas 
2. NomPy
3. Matplotlib

| Data Science Tools |
----------------------
| Jupyter |
| R studio |
| Microsoft Visual Studio |

In [ ]:
### Bellow are a few examples of evaluating arithmetic expressions in python. 

p = pow(3, 4)

print(p)

x = min(1, 3, 6)

y = max(1, 3, 6)

print(x)

print(y)

In [10]:
# This a simple arithmetic expression to multiply then add intigers
result = (3*4) + 5
result # Display the result

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
result = 200/60
result # Display the result

3.3333333333333335

## Author 
#### Ebada Musa Mohammed